{% extends "layout.html" %}

{% block heading %}
    <h2>Welcome</h2>
    <div class="image left">
        <img src="https://www.parisbooks.eu/images/bookpiles-bw.jpg">
    </div>
{% endblock %}

{% block body %}
Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, 
lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.
Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.
{% endblock %}